/*
General CSS for things. Preferrably match the color scheme of Instructure
*/

body {
    font-family: "Lato";
    font-size: 18px;
}

h1 {
  font-family: "Lato";
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.ttf");
}

a {
    text-decoration: none;
}

/*
Styles for the feedback inputs in review.pug
 */
.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment {
    width: 100%;
    flex: 0 0 calc(50% - 8px);
    display: flex;
    flex-direction: column;
}

.comment > textarea {
    height: 100%;
}

.feedback {
    margin-bottom: 32px;
}

.rubric {
    flex: 0 0 calc(50% - 8px);
}

.criteria {
    display: grid;
    width: 100%;
    grid-gap:1px;
    background-color: black;
    grid-template-columns: 4fr 2fr auto 128px;
    border: 1px black solid;
}

.criteriaHeader {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.criteriaElement {
    width: 100%;
    background-color: white;
}

.criteriaElement > p {
    margin-left: 8px;
}

.criteriaScore {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.criteriaScore > textArea {
    margin: 8px;
    height: 100%;
    width: calc(100% - 16px);
}

.criteriaScore > input {
    width: 24px;
}

/*
Styles for the tabs in review.pug
*/
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
}

.tab {
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #ccc;
}

.activeTab {
    background-color: #ccc;
}

.review {
    padding-left: 16px;
}

/*
Styling for the review number input in submissionInfo.pug
*/

.flex-container {
    display: flex;
    flex-wrap: row;
    align-items: center;
}

.flex-container > div {
    text-align: left;
}

#reviewInput {
    width: 32px;
    margin-right: 8px;
}

.documentLink {
    margin-left: 16px;
}