.course {

}

/*
General CSS for things. Preferrably match the color scheme of Instructure
*/

body {
  font-family: "Symbola";
  font-size: 16px;
<<<<<<< HEAD
  color:rgb(176,196,222);
}

h1 {
  color: rgb(30,144,255);
=======
}

h1 {

>>>>>>> b019400fe844ff1c928e0fbbe1837754d5f5becf
}

@font-face {
  font-family: "Symbola";
  src: url("https://github.com/instructure/canvas-lms/blob/master/public/fonts/Symbola.ttf");
}

/*
CSS for the dropdown menu which will be used for selecting the assignment
which the peer review applies to.
*/

.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
