extends layout

block content
    div(class = 'dropdown')
      h1 Select Assignment
      div(class = 'dropdown-child')
      each assignment in assignments
          p.assignment
              a(href='/lti/info/' + assignment.course_id + "/" + assignment.id)= assignment.name
