extends layout

block content
    p= submissionCount + " submissions"
    form(method='get', action='/lti/select/' + assignment.course_id + "/" + assignment.id)
        div.reviewNumContainer
            input#reviewInput(name="reviewNum", type='number', value=(submissionCount <= 3 ? submissionCount - 1 : 3))
            p reviews
        input#submitButton(type='submit', value='Confirm')
