extends layout

block content
    each student in students
        .reviews
            if incompleteCount > 0
                p
                    b='Waiting on ' + incompleteCount + ' review' + (incompleteCount === 1 ? '' : 's')
            each review in reviews
                if review.status === "complete"
                    .review
                        p=review.message
